<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.task.lead.ExtentReport"></listener>
    </listeners>
    <test name="QA Report" verbose="2" preserve-order="true">
        <classes>
            <class name="com.task.lead.LeadCreationTests"/>
        </classes>
    </test>
</suite>
